:root{
    --nav: #C7EABB;
    --body: #ffffff;
    --font: #25343F;

}

body{
    background: url('body1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    font-family: poppins;
    background-color: var(--body);
}

.navbar{
    color: var(--font);
    padding: 20px 30px;
    max-width: 1550px;
    height: 40px;
    margin:  0 auto;
    text-decoration: none;
    position: sticky;
    top: 0;
    border-radius: 2px solid var(--font);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-family:Gravitas One;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.7px;
    color: var(--font);
}

.menu{
    list-style: none;

    display: flex;
    gap: 40px;
}

.menu a{
    text-decoration: none;
    color: var(--font);
    font-size: 20px;
    font-weight: 450;
    letter-spacing: 0.7px;
}

.menu a.active{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.9px;
    color: #005F02;

}

.search {
    background-color: var(--body);
    width: 400px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
}

.search ::placeholder {
    color: var(--font);
    text-align: center;
}

.contact-btn{
    text-decoration: none;
    background: #049907;
    color: var(--body);
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.707);
    font-size: 15px;
    font-weight: 500;
}

.hero{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.hero-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;

}

.left1{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.rigt1{
    display: flex;
    flex-direction: column;
    align-items: right;
}

.img1{
    position: static;
    margin-left: 400px;
    left: 100px;
    top: 100px;
}
.text{
    padding: 20px 30px;
    font-family: Gravitas One;
}

.bold{
    font-family: Gravitas One;
    color: var(--font);
    letter-spacing: 0.7px;
    line-height: 1.4;
}

.light{
    font-family: poppins;
    font-size: 15px;
    color: var(--font);
    letter-spacing: 0.5;
    font-weight: 450;
}

.btn-row{
    display: flex;
    gap: 10px;
    padding: 100px ;
}

.btn-blue{
    background: #0071e3;
    color: white;
    margin-left: 30px;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.hero-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.left2{
    background: none;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--font);
    height: 300px;
    width: 300px;
    margin-left: 180px;
        
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.middle{
    background: none;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid var(--font);
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    margin-left: 50px;
        
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.right2{
    background: none;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--font);
    width: 300px;
    height: 300px;
    margin-right: 200px;
        
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

footer{
    background: url('footer.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    border-radius: 5px;
    color: var(--body);
    

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0px;
    padding: 20px 30px;
}

.text{
    color: var(--body);
    font-family: Gravitas One;
    font-size: 30px;
    font-weight: 550;
    letter-spacing: 1.5;
}

.thank{
    font-family: poppins;
    font-size: 20px;
    font-weight: 450;
}

.socal{
    width: 200px;
    height: 50px;
}

.right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px;
}

.card1{
    display: flex;


    margin-top: 10px;
    font-family: poppins;
    font-weight: 500;
}

.card2{
    display: flex;


    margin-top: 10px;
    font-family: poppins;
    font-weight: 500;
}

.card3{
    display: flex;


    margin-top: 10px;
    font-family: poppins;
    font-weight: 500;
}

.card4{
    display: flex;


    margin-top: 10px;
    font-family: poppins;
    font-weight: 500;
}