:root{
    --nav: #C7EABB;
    --body: #ffffff;
    --font: #25343F;

}

body{
    background: url('body1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    font-family: poppins;
    background-color: var(--body);
}

.navbar{
    color: var(--font);
    padding: 20px 30px;
    max-width: 1550px;
    height: 40px;
    margin:  0 auto;
    text-decoration: none;
    position: sticky;
    top: 0;
    border-radius: 2px solid var(--font);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-family:Gravitas One;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.7px;
    color: var(--font);
}

.menu{
    list-style: none;

    display: flex;
    gap: 40px;
}

.menu a{
    text-decoration: none;
    color: var(--font);
    font-size: 20px;
    font-weight: 450;
    letter-spacing: 0.7px;
}

.menu a.active{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.9px;
    color: #005F02;

}

.search {
    background-color: var(--body);
    width: 400px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
}

.search ::placeholder {
    color: var(--font);
    text-align: center;
}

.contact-btn{
    text-decoration: none;
    background: #049907;
    color: var(--body);
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.707);
    font-size: 15px;
    font-weight: 500;
}

.hero-middle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 0 0 10px 10px;
}
.card{
    background: none;
    border-radius: 10px;
    padding: 5px;
        
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.btn-row{
    display: flex;
    gap: 10px;
}

a{
    text-decoration: none;
    color: var(--font);
}
.btn{
    display: inline-block;
    padding: 12px 26px;
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
    
}
img{
    border-radius: 15px;
}

img:hover{
    transform: scale(1.10);
    z-index: 10;
}

footer{
    background: url('footer.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    border-radius: 5px;
    color: var(--body);
    

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0px;
    padding: 20px 30px;
}

.text{
    color: var(--body);
    font-family: Gravitas One;
    font-size: 30px;
    font-weight: 550;
    letter-spacing: 1.5;
}

.thank{
    font-family: poppins;
    font-size: 20px;
    font-weight: 450;
}

.socal{
    width: 200px;
    height: 50px;
}

.right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px;
}

.card1{
    display: flex;


    margin-top: 10px;
    font-family: poppins;
    font-weight: 500;
}

.card2{
    display: flex;


    margin-top: 10px;
    font-family: poppins;
    font-weight: 500;
}

.card3{
    display: flex;


    margin-top: 10px;
    font-family: poppins;
    font-weight: 500;
}

.card4{
    display: flex;


    margin-top: 10px;
    font-family: poppins;
    font-weight: 500;
}